body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: Georgia, serif;
    font-size: 1.3em;
    padding: 0px;
    list-style: none;
    font-variant: small-caps;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #5B5B5B;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: Georgia, serif;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-variant: oldstyle-nums;
}
p.singlereference {
    text-indent: -35px;
    padding-left: 35px;
}
p.firstreference {
    text-indent: -35px;
    padding-left: 35px;
    padding-bottom: 0;
    margin-bottom: 0;
}
p.middlereference {
    text-indent: -35px;
    padding-left: 35px;
    padding-bottom: 0px;
    padding-top: 0px;
}
p.lastreference {
    text-indent: -35px;
    padding-left: 35px;
    padding-top: 0;
    margin-top: 0;
}
numerals {
    font-family: Georgia, serif;
    font-variant: oldstyle-nums;
}
section {
    font-family: Georgia, serif;
    font-size: 1.3em;
    padding-bottom: 0px;
    font-variant: small-caps;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

bullet {
    color: #A10A0A;
}

sc {
    font-size: 1em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
smallcaps {
    font-family: Georgia, serif;
    font-variant: small-caps;
}
