<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<nav>
	    				<ul>
	 			       		<li><a href="/">Home</a></li>
		        			<li><a href="/teaching">Teaching</a></li>
	        				<li><a href="/writing">Writing</a></li>
			        		<li><a href="/blog">Blog</a></li>
	    				</ul>
				</nav>
			</footer>
		</body>
	</html>
