<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    			<ul>
	 		      		<li><a href="/">about</a></li>
		       			<li><a href="/teaching">teaching</a></li>
	        			<li><a href="/writing">writing</a></li>
		        		<li><a href="/blog">blog</a></li>
					<li><bullet>&#8226;</bullet></li>
					<li><a href="/files/CV-Uzunova.pdf">cv</a></li>
					<li><a href="mailto:m.g.uzunova@vu.nl">@</a></li>
    				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
