<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include mathjax_support.html %}
		</head>
		<body>
			<nav>
	    			<ul>
	  		  		<li><a href="/blog"><bullet>&Omega;</bullet></a></li>
    				</ul>
			</nav>

<div class="container">
			
<section>{{ page.title }}</section>
<p class="meta">{{ page.date | date_to_string }}</p>

      <div class="post">
          {{ content }}
      </div>
	<div class="notecomments">
	{% include disqus.html %}	 
	</div>
			
</div><!-- /.container -->

		</body>
	</html>
